

.deTitle{
    font-family: 'Alegreya';
    font-size: 40px;
    margin:3px;
    background:  rgba(224, 219, 219, 0.5);
    border-color: rgb(54, 52, 52);
}
.details{
    width:500px;
    border-radius: 8px;
    background:  rgba(0, 0, 0, 0.5);
    padding:30 px;
    margin:auto;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6d6d61;
    font-size: 30px;
    
    /* column-count: 2; */
}

.details img{
    width:500px;
    height: 220px;
    
}

.details .title{
    color: rgb(255, 255, 255);
    margin:10px;
}
.details .activityCard{
    width:400px;
    border-radius: 8px;
    padding:30 px;
    margin:auto;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;;
    color: #003f8a;
    font-size: 2rem;
    padding: 10px;
    
}

.details .activityCard .n{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.image{
    width:10rem;
}
