* {
  margin: 0;
  padding: 0;
}
.pageNumbers {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #feab6b;
  font-family: "Roboto", sans-serif;
}

.pageNumbers li {
  color: grey;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: #252b31;
  color: #feab6b;
}

.pageNumbers > li:hover {
  background-color: #feab6b;
  color: white;
  transition: all 0.5s;
}
.pageNumbers > li:hover::after {
  background-color: #252b31;
  color: #feab6b;
  transition: all 0.5s;
}

.pageNumbers li button {
  background: transparent;
  border: none;
  color: #bebebe;
  font-size: 1.5rem;
  cursor: pointer;
}

.pageNumbers li button:hover {
  color: #ffffff;
}
.paginationDiv {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #252b31;
  height: auto;
}
.container2{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
