@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2? family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.hero-header {
  background-color: aliceblue;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.header {
  margin: 0;
  width: 100%;
  height: 300px;
  background-color: #252b319d;
}
.title {
  margin: 0px;
}
.header h1 {
  letter-spacing: 2px;
  color: #c1c8c7;
  font-size: 30px;
  font-family: "Lobster", cursive;
  position: absolute;
}

.info{
  letter-spacing: 3px;
  color: #feab6b;
  font-size: 40px;
  opacity: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: 100px;
  left: 100px;
}
.refTextExit {  
  opacity: 1;
  transition: opacity 2s;
}
/*** ESTILOS BOTÓN SLIDE TOP ***/
.ov-btn-slide-top {
  background: aliceblue; /* color de fondo */
  color: #c1c8c7; /* color de fuente */
  border-radius: 10000px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  top: 350px;
  height: 80%;
  width: 80%;
  font-size: 10em;
  border: none;
}
.ov-btn-slide-top:hover {
  color: #feab6b; /* color de fuente hover */
}
.ov-btn-slide-top::after {
  content: "";
  background: #252b319d; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.ov-btn-slide-top:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.55;
  transition: all 0.55;
}

.footer {
  font-size: 10em;
  color: #c1c8c7;
  position: relative;
  top:400px;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  border: none;
  transition: linear;
}

.footer:hover {
  background-color: #252b319d;
  color: #feab6b;
  border-radius: 10000px;
  width: 50%;
}
