.root{
    display: flex ;
    justify-content:center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-image: url(https://i.gifer.com/origin/6f/6f3326ed779798b9f4ca3226cf5a9992.gif);
    background-size: cover;
    animation-direction: normal;
}
.appbar{
    background:none,
}
.appbarWrapper{
    width: 30%;
    margin: 30 auto;
}
.appbarTitle{
    flex-grow:1;
}
    

.icon{
    color:#fff;
    font-size:2rem;
}

.tittle2{
    font-kerning: none;
    color: #F4A261;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 3rem;
    -webkit-text-stroke: 2px black;
}

.contenedor{
    text-align:center;
    align-items: center;  
    margin-top: 2cm;
    background-color: #285361;
    padding-top: 10cm;
    padding-bottom:0cm;
    padding: 1cm;
    height: 350px;
    width: 400px;
    background-color: rgba(17, 76, 97, 0.3);
    border-style: inset;
    border-radius: 40%;
}
.contenedor:hover{
    background-color: rgba(17, 76, 97, 0.8)

}


.tittle{
    color: #F4A261;
    font-size: 3rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    -webkit-text-stroke: 2px black;
}

.goDown{
    color:#000000;
    font-size:15rem;
}

.center-con {
    display: flex;
    height: 30vh;
    align-items: center;
    margin-left: 4cm;
}

.round {
    position: relative;
    border: 3px solid black;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #F4A261;
    align-items: center;
    
}

span {
    align-items:center;
    height: 3px;
    margin:1px;
    width: 30px;
    background: black;
    transition: 0.4s ease;
}

span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    background: black;
    left: 25%;
    bottom: 35%;
}

span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}
.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}


