@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji|Roboto';

html, body {
margin: 0;
font-family: 'Roboto', sans-serif
}


.hero-header {
background-image: url("../../assets/tierra.gif");
width: 100%;
height: 100vh;
text-align: center;
background-size: cover;
font-style: oblique;
}

.header {
margin: 0 auto;
padding-top:30vh;
}

.header h1 {
 -webkit-text-stroke: 1px rgb(218, 216, 216); 
 
letter-spacing: 5px;
color: transparent;
font-size: 80px;
font-family: Georgia, 'Times New Roman', Times, serif, cursive;
margin-left: -20%;

}


.henry{
color: #2C3E50;
margin-left: -45%;
}

.btn {
opacity: 0.5;
height:50px;
width:200px;
display: inline-block;
background-color: #2C3E50;
margin:40px 20px;
border-radius: 5px;
border: 2px solid #ECF0F1;
cursor:pointer;
margin-left: -35%;
margin-top: 1%;
}

.btn span {
    -webkit-text-stroke: 2px rgb(218, 216, 216);
    letter-spacing: 5px;
    color: transparent;
    font-size: 25;
margin-top:15px;
display: block;
}

.btn-1 {
background-color: transparent;
transition: all 300ms ease-in-out;
}

.btn-1:hover {
    opacity: 1.0;
background-color:#2C3E50;
}

.btn-2 {
border-color: transparent;
transition: all 300ms ease-in-out;
}

.btn-2:hover {
    opacity: 1;
border-color: #ECF0F1;
}

.body {
width:100%;
height:auto;
}