*{
    margin: 0;
    padding: 0;
}

.formAddTourism{
    width:600px;
    border-radius: 8px;
    background:  rgba(0, 0, 0, 0.5);
    padding:30 px;
    margin:auto;
    margin-top: 10px;
    font-family: 'Alegreya';
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}

.formAddTourism input{
    margin: 10px;
    padding: 5px;
}
.formAddTourism h2{
    color:rgb(255, 255, 255);
    display: block;
    margin-bottom: 2rem;
    margin-top: 1rem;
    width: 100%;
    
}


.formAddTourism select{
    margin:10px;
    padding: 5px;
    width: 100px;
    height: 30px;
}

.formAddTourism button{
    padding: 5px;
    margin-bottom: 30px;
    font-family: 'Alegreya';
    font-size: 15px;
    margin: 3px;
}

.formAddTourism button:hover,
.formAddTourism button:active{
color:#fafafa;
background: #003f8a;
}

.formAddTourism .submit{
    margin: 2rem;
    padding: 10px;
    font-size: 20px;
}

input.warning{
    border:3px solid red;
}
select.warning{
    border:3px solid red;
}

.codigos ul{
    width:50px;
    height:30px;
    border-radius: 8px;
    display:inline;
    margin:3px; 
    color:#f7f7ef;
    padding: 0.2rem;
    background: rgba(31, 155, 172, 0.5);
}

.form{
    width:400px;
    border-radius: 8px;
    background:  rgba(0, 0, 0, 0.5);
    padding:30 px;
    margin:auto;
    margin-top: 100px;
    font-family: 'Alegreya';
    color: #ffffa4;
    font-size: 20px;
}

select#selePais{
    margin-top:5%;
    margin-bottom: 0%;
}


