* {
  margin: 0;
  padding: 0;
}

.firstForm h2 {
  font-family: "Roboto", sans-serif;
  color: #c1c8c7;
}
.formAddTourism {
  background-color: #252b31;
  padding: 30px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: #c1c8c7;
  font-size: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 20px 50px -15px rgba(0, 0, 0, 0.75);
  margin-bottom: 100px;
}

.firstForm {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.formHijo {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.firstForm label {
  padding: 10px;
  font-size: 20px;
  color: #feab6b;
  font-family: "Roboto", sans-serif;
}
.formHijo label {
  padding: 10px;
  font-size: 20px;
  color: #feab6b;
  font-family: "Roboto", sans-serif;
}

.firstForm input {
  padding: 12px 30px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #feab6b;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  width: 100%;
  text-transform: uppercase;
}
::-webkit-input-placeholder {
  color: #c1c8c7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.firstForm input:hover,
.firstForm input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

select {
  padding: 12px 30px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #feab6b;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  width: 100%;
}
select-select::placeholder {
  color: #c1c8c7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
select:hover,
select:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.inputButtonConatiner {
  width: 100%;
  display: flex;
}
input.warning {
  border: 3px solid red;
}
select.warning {
  border: 3px solid red;
}

.buttonsForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 30px;
}
.buttonsForm2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 30px;
}
.formHijo button {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  width: 100px;
  height: 50px;
  border-width: 1px;
  color: #fff;
  border-color: #1f2f47;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  box-shadow: inset 0px 0px 15px 3px #feab6b;
  text-shadow: inset 0px 1px 0px #feab6b;
  background: linear-gradient(#ca9973, #feab6b);
  margin-left: 10px;
}

.formHijo button:hover {
  background: linear-gradient(#feab6b, #ca9973);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.codigos ul {
  width: 50px;
  height: 30px;
  border-radius: 8px;
  display: inline;
  margin: 5px;
  margin-top: -40%;
  color: #f7f7ef;
  padding: 0.2rem;
  background: rgba(31, 155, 172, 0.5);
}
