
.color1 {color: #001b3b;}
.color2 {color: #003f8a;}
.color3 {color: #00bfff;}
.color4 {color: #15fdc6;}
.color5 {color: #ffffa4;}

/* *{
margin: 0;
padding:0;
box-sizing: border-box;
} */

.form1{
border-radius: 8px;
background:  rgba(0, 0, 0, 0.5);
padding:30 px;
margin:auto;
margin-top: 1px;
font-family: 'segoe ui';
color: #efefef; 
font-size: 15px;
overflow: hidden;
}

.firstForm{
display: inline;
position: relative;

width: 100%;
}

.form1 h1{
padding:0px;
color: #efefef;
opacity: 0.8;
}

.form1 label{
padding:5px;
}

.form1 input{
width: 20;
padding: 3px;
border: 1px solid #001b3b;
margin: 1px;
}
.form1 button{
padding:3px;
font-family: 'segoe ui';
font-size: 15px;
margin: 2px;
opacity: 0.8;
}

.form1 button:hover,
.form1 button:active{
color:#efefef;
background: green;
}
.form1 .formHijo{
margin-bottom: 30px;
padding-bottom: 20px;

}
.button{
width: 45px;
height: 35px;
background: dodgerblue;
border-radius: 6px;
transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
}
.button2{
width: 80px;
height: 80px;
background: dodgerblue;
border-radius: 6px;
transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
}

.button svg {
transform: rotate(180deg);
transition: all .5s;
background:green;
}


.button:hover {
cursor: pointer;
width: 60px;
height: 50px;

border-radius: 50%;
transform: rotate(-180deg);
}
