@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2? family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.form1 {
  background-color: #252b31;
  padding: 30px;
  margin: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #efefef;
  font-size: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 20px 50px -15px rgba(0, 0, 0, 0.75);
  margin-bottom: 100px;
}

.firstForm {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.formHijo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form1 label {
  padding: 10px;
  font-size: 20px;
  color: #feab6b;
  font-family: "Roboto", sans-serif;
}

.form1 input {
  padding: 12px 30px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #feab6b;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  width: 100%;
  text-transform: uppercase;
}
::-webkit-input-placeholder {
  color: #c1c8c7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.form1 input:hover,
.form1 input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.select {
  padding: 12px 30px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #feab6b;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  width: 100%;
}
.select-select::placeholder {
  color: #c1c8c7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.select:hover,
.select:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.inputButtonConatiner {
  width: 100%;
  display: flex;
}

.buttonsForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 30px;
}
.buttonsForm2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 30px;
}
.firstForm button {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  width: 50px;
  height: 50px;
  border-width: 1px;
  color: #fff;
  border-color: #1f2f47;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  box-shadow: inset 0px 0px 15px 3px #feab6b;
  text-shadow: inset 0px 1px 0px #feab6b;
  background: linear-gradient(#ca9973, #feab6b);
  margin-left: 10px;
}

.firstForm button:hover {
  background: linear-gradient(#feab6b, #ca9973);
}

.button2 {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  width: 80px;
  height: 80px;
  border-width: 1px;
  color: #fff;
  border-color: #1f2f47;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  box-shadow: inset 0px 0px 15px 3px #feab6b;
  text-shadow: inset 0px 1px 0px #feab6b;
  background: linear-gradient(#ca9973, #feab6b);
  margin-left: 10px;
}

.button2:hover {
  background: linear-gradient(#feab6b, #ca9973);
  transform: scale(0.9);
}
